<h2 class="mt-5 mb-4">User</h2>
<div class="w-100">
  <div class="border shadow w-100 d-flex p-3 mb-2 bg-white rounded
      justify-content-between" style="height: 50px;">
    <p style="font-size:1rem;"><strong>Email: </strong><%=user.email%></p>
    <p style="font-size:1rem;"><strong>Number of accounts: </strong><%= user.accounts.length %></p>
  </div>
</div>
