<div class="wrapper">
    <div class="d-flex flex-column align-items-center">
        <h1>Sign up</h1>

        <div class="form_card mt-4">
            <form class="d-flex flex-column" action="/sign_up_post" method="post">
                <div>
                    <label for="name" class="control-label">Email</label>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="email">
                <div class="mt-4">
                    <label for="name" class="control-label">Name</label>
                </div>
                <input type="text" class="form-control" placeholder="Name" name="name">
                <div class="mt-4">
                    <label for="name" class="control-label">Password</label>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password">
                <div class="mt-4">
                    <label for="name" class="control-label">Password confirmation</label>
                </div>
                <input type="password" class="form-control" placeholder="Password confirmation" name="password_confirmation">
                <div class="mt-4">
                    <label for="admin" class="control-label">Admin</label>
                    <input type="checkbox" name="admin">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <input name="commit" type="submit" value="Sign up" class="btn btn-primary" />
                </div>
                <br>
                <p id="alert" style="color: red"><%= alert %></p>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </form>
        </div>
    </div>
</div>
