<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <h1>Online Banking Service</h1>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Looks like
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Bootstrap</a>
        <a class="dropdown-item" href="#">is</a>
        <a class="dropdown-item" href="#">working.</a>
    </div>
    </div>
</div>
