<div class="wrapper">
    <div class="d-flex flex-column align-items-center">
        <h1>Online Banking Service</h1>

        <div class="d-flex mt-4">
            <%= button_to "Sign in", 'sign_in', :method => "get", :class => "btn btn-primary mr-3" %>
            <%= button_to "Sign up", 'sign_up', :method => "get", :class => "btn btn-secondary" %>
        </div>
    </div>
</div>
