<div class="wrapper">
    <div class="d-flex flex-column align-items-center">
        <h1><%= current_theme[:name] %></h1>

        <div class="d-flex mt-4">
            <%= button_to "Sign in", 'sign_in', :method => "get", :class => "btn btn-primary mr-3" %>
        </div>
    </div>
</div>
