<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>

    <!-- Render current account -->
    <%= render :partial => 'components/current_account', :locals => {:account => @account} %>

    <!-- Render transactions -->
    <%= render :partial => 'components/transactions', :locals => {
                                                                    :transactions => @transactions,
                                                                    :account => @account,
                                                                    :render_edit_delete_buttons => false
                                                                  } %>

    <%= button_to "Back", "/dash", :method => "get", :class => "btn btn-primary mt-4" %>
</div>
