<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>

    <!-- Render Accounts without buttons-->
    <%= render :partial => 'components/accounts', :locals =>{
                                                                :accounts => @accounts,
                                                                :page_to_be_loaded => "/dash/account/",
                                                                :render_edit_delete_buttons => false
                                                            } %>
</div>
